body
{
	background-color: #e9eaed;
	color: #141823;
}

.floatleft
{
	float: left;
}
.floatright
{
	float: right;
}
.clearfix
{
	clear: both;
	font-size: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	content: "*";
}